body{
    background-color: lightsalmon;
}

h1{
   text-align: center;
}

.headingFour{
    text-align: center;
}

.headingThree{
    text-align: center;
}

.listItem{
    text-align: center;
}

.image{
   display: flex;
   justify-content: center;
}